# Ignore nginx log files
nginx-log

# Ignore site-specific htpasswd files
volumes/htpasswd/*

### nginx-proxy
volumes/certs/*
!volumes/certs/.gitkeep

volumes/conf.d/*
!volumes/conf.d/.gitkeep

volumes/vhost.d/*
!volumes/vhost.d/.gitkeep
